* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  max-width: 100%;
  background: #FF416C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(bottom, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadow {
  box-shadow: 0px 0.8rem 1rem 0px rgba(0, 0, 0, 0.2);
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.timer {
  width: 100%;
  max-width: 250px;
  padding: 2rem 1rem;
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.timer__title {
  margin: 0;
  font-size: 2rem;
  color: #333;
  text-transform: uppercase;
}

.timer__clock {
  font-size: 3rem;
  margin: 1rem 0;
  color: #333;
}

.timer__clock--active {
  color: #ff416c;
  animation: flash 1s infinite;
}

.timer .timer__buttons {
  display: flex;
  flex-direction: column;
}

.timer .timer__buttons .timer__buttons__button {
  margin: 5px;
  padding: 0.5rem 1rem;
  outline: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  background: #ff416c;
  border: 1px solid #ff416c;
  color: #fefefe;
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-size: 0.85rem;
}
.timer .timer__buttons .timer__buttons__button:hover {
  transform: scale(1.05);
}

@media only screen and (min-width: 768px) {
  .timer {
    max-width: 500px;
  }

  .timer__clock {
    font-size: 4.5rem;
  }

  .timer .timer__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
